@font-face {
    font-family: "Humanist";
    src: url(humanist-521-bt.ttf);
}
.link {
	color: #3d3d66;
	margin: 0px 10px;
	font-size: large;

}
a[href^="mailto:"]
{
  color: #3d3d66;
}
.selected {
	font-weight:bold;
}
@media only screen and (max-width: 800px){
 .sideboard {

	 text-align: left;
   vertical-align: middle;
	 background-color: #3D3D66; width:40%; height:40%;padding: 40px; margin: 10px;float:left;
   display:inline-block;
 }

 .sideboard-signature {
   color: white;

   font-size:small;
 }
 .sideboardlink{
	 white-space: nowrap;
	 color: white;

   font-size:medium;
 }
 #AM{
	 display: none;
 }
 .Text{

	 font-weight:bold; color: #3d3d66;font-size:5px; text-align: center;display:inline-block; margin: 10px;

 }
 .Titletext {
   font-size: 10px;display:inline-block;vertical-align: middle; font-weight:bold; color: #3d3d66;
 }
 .main-frame{
	 border: 1px solid gray; width:100%; background-color: white;white-space:nowrap;
   }

  .signature{

     margin-top: 25px;font-weight:bold; color: #3d3d66;font-size:5px; text-align: center;display:inline-block;
   }
   .img-row {
     margin-left: 0%;}
  }

}
@media only screen and (min-width: 800px){
 .sideboard {

	 text-align: left;
    vertical-align: middle;
	 background-color: #3D3D66; width:20%; height:20%;padding: 40px; margin-bottom: -5%;float:left;
   display:inline-block;
 }
.sideboard-signature {
  color: white;

  font-size:large;
}


   .sideboardlink{
    color: white;

    font-size:x-large;
   }
 .Text{

	 font-weight:bold; color: #3d3d66;font-size:medium; text-align: center;display:inline-block;

 }
 .Titletext {
	 font-size:large;display:inline-block;vertical-align: middle; font-weight:bold; color: #3d3d66;
 }
 .main-frame{
	 border: 1px solid gray; background-color: white;white-space:nowrap;
    }
  .signature{

     margin-top: 25px;font-weight:bold; color: #3d3d66;font-size:medium; text-align: center;display:inline-block;

 }
 .img-row {
   margin-left: 30%;}
}

#byAM	{
	font-size: small;
	text-align: left;
}
.Bilder {
  margin:5% 0%;
}
